<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--Added the viewport meta tag to view the site properly on mobile-->
    <title>Contest Setup</title>

    <link rel="stylesheet" href="/stylesheets/master.css">
    <link rel="stylesheet" href="/stylesheets/contestSetup.css">
</head>

<body class="container">
    <div class="header">
       <h1>CaDo Contest Setup Page</h1>
    </div>

    <div class="form">
        <form id="form" action="null" method="post" enctype="multipart/form-data">
            <input type="text" id="tutor" class="textInput" name="nomeGara" placeholder="tutor" autocomplete="false" autocorrect="false" autocapitalize="false" spellcheck="false">
            <br>
            <input type="text" id="contestName" class="textInput" name="nomeGara" placeholder="nome gara" autocomplete="false" autocorrect="false" autocapitalize="false" spellcheck="false">
            <br>
            <input type="number" id="teamNumber" class="numberInput" name="nomeGara" placeholder="numero squadre" autocomplete="false" autocorrect="false" autocapitalize="false" spellcheck="false">
            <br>
            <input type="text" id="loremIpsum" class="textInput" name="nomeGara" placeholder="Concorrenti per squadra" autocomplete="false" autocorrect="false" autocapitalize="false" spellcheck="false">
            <br>
            <input type="text" id="dante" class="textInput" name="nomeGara" placeholder="fatti non foste per viver come bruti, ma per seguir virtute e canoscenza." autocomplete="false" autocorrect="false" autocapitalize="false" spellcheck="false">
            <br>
        </form>
        <input class="fileUpload" type="file" name="config">
        <br>
        <button type="button" class="pulzante" onclick="setTeams()">Imposta Squadre</button>
        <button type="button" class="pulzante" onclick="postFormData()">Fine!</button>
    </div>
    <script type="text/javascript" src="utility/contestSetup.js"></script>  
</body>
</html>