<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--Added the viewport meta tag to view the site properly on mobile-->
    <title id="contest-title">Contest Setup</title>
    <script src="/utility/notyf.js"></script>
    <link rel="stylesheet" href="/utility/notyf.css">
    <script type="text/javascript">
    function padding(n){
        return (n<10?'0':'')+n.toString();
    }
    function timeDelta(end){
        var now=new Date();
        var res=now.getTime()<end.getTime()?"-":"";
        var delta=new Date(end.getTime()-now.getTime());
        res+=delta.getUTCHours().toString()+':'+padding(delta.getMinutes())+':'+padding(delta.getSeconds());
        return res;
    }
    function getUrlPromise(url) {
        return new Promise(function(resolve,reject){
        var webrequest = new XMLHttpRequest();
        webrequest.open('GET', url, true);
        webrequest.onload=function(){
            resolve(webrequest.responseText);
        };
        webrequest.send(null);});
    }
    function scoreToClassName(score){
        var res="Score"
        res=(score<20? "low":(score==100?"full":"medium"))+res;
        return res;
    }
    var currentState={
        "selected": null,
        "taskStatus":{},
        "dismissedAlerts":[]
    }
    function select(id){
        if(currentState.selected!==null){
            document.getElementById(currentState.selected).classList.remove("openProblem");
        }
        currentState.selected=id;
        document.getElementById(currentState.selected).classList.add("openProblem");
    }
    var contest=null;
    </script>
    <link rel="stylesheet" href="/stylesheets/master.css">
    <link rel="stylesheet" href="/stylesheets/contest.css">
</head>

<body class="container">
    <div class="header">
        <h1 id="contest-heading">CaDo Contest Setup Page</h1>
        <img class="userImg" alt=":)" src="/utility/profilePic">
        <div class="userName">pastacolsugo</div>
    </div>

    <div class="sidebar" id="sidebar">
        <div class="timer">
            <p id="timer"></p>
        </div>
    </div>

    <div class="content"> <h2 class="problemTitle">Taxi</h2>
        <div class="lipsum"></div>
    </div>
    <script type="text/javascript">
        var notificationCenter = new Notyf();
        notificationCenter.confirm("Benvenuto! Notifica di prova");
        setTimeout(function(){notificationCenter.alert("Messaggio di errore");},1500)
        getUrlPromise("/api/contest").then(function(response){
            contest=JSON.parse(response);
            document.getElementById("contest-heading").innerHTML=contest.name;
            document.getElementById("contest-title").innerHTML=contest.name;
            var endDate=new Date(contest.end_date);
            document.getElementById("timer").innerHTML=timeDelta(endDate);
            setInterval(function(){
                document.getElementById("timer").innerHTML=timeDelta(endDate);
            }, 1000);
            var sidebar=document.getElementById("sidebar");
            for(var i=0;i<contest.tasks.length; i++){
                //Questa linea potrebbe essere molto inutile
                currentState.taskStatus[contest.tasks[i].name]=scoreToClassName(contest.tasks[i].score);
                //-------------
                var problemBox=document.createElement("div");
                problemBox.id=contest.tasks[i].name;
                problemBox.classList.add("problemBox");
                problemBox.classList.add(scoreToClassName(contest.tasks[i].score));
                var title=document.createElement("div");
                title.classList.add("problemTitle");
                title.innerHTML=contest.tasks[i].full_name;
                problemBox.appendChild(title);
                var score=document.createElement("div");
                score.classList.add("score");
                score.innerHTML=contest.tasks[i].score;
                problemBox.appendChild(score);
                var statement=document.createElement("a");
                statement.classList.add("link");
                statement.classList.add("statementLink");
                statement.innerHTML="Testo";
                statement.href="/api/task?task="+encodeURIComponent(contest.tasks[i].name);
                problemBox.appendChild(statement);
                var submissions=document.createElement("a");
                submissions.classList.add("link");
                submissions.classList.add("submissionLink");
                submissions.onclick=(function(){var a=contest.tasks[i].name; return function(){select(a);};})();
                submissions.innerHTML="Sottoposizioni";
                problemBox.appendChild(submissions);
                sidebar.appendChild(problemBox);
                var alert=document.createElement("div");
                alert.classList.add("alert-icon");
                problemBox.appendChild(alert);
            }
            // This function has to be replaced with a WebSockets handler to update alerts in real time when communication is published

            getUrlPromise('/api/alerts').then(function(res){
                var alerts=JSON.parse(res);
                for(var i=0;i<alerts.length;i++){
                    if(currentState.dismissedAlerts.indexOf(alerts[i].id)===-1){
                        document.getElementById(alerts[i].task).classList.add("alert");
                    }
                }
            });
            // Add function to communicate with WebSockets which handles updated after each evaluation

        });
    </script>
    <script src="/utility/lipsum.js" type="text/javascript"></script>
</body>
</html>