<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--Added the viewport meta tag to view the site properly on mobile-->
    <title>Contest Setup</title>
    <!-- CIAO DA CASA SELVA -->

    <link rel="stylesheet" href="/stylesheets/master.css">
    <link rel="stylesheet" href="/stylesheets/contest.css">
</head>

<body class="container">
    <div class="header">
        <h1>CaDo Contest Setup Page</h1>
        <img class="userImg" alt=":)" src="/utility/profilePic">
        <div class="userName">pastacolsugo</div>
    </div>

    <div class="sidebar">
        <div class="timer">
            <p>-1:78:92</p>
        </div>

        <div class="problemBox greenScore" id="problem1">
            <div class="problemTitle" style="inline">Noccioline</div>
            <div class="score" style="inline">100</div>
            <a class="link statementLink" href="#">Testo</a>
            <a class="link submissionLink" href="#">Sottoposizioni</a>
            <div class="alert-icon"></div>
        </div>
        <div class="problemBox orangeScore" id="problem2">
            <div class="problemTitle">Magneti</div>
            <div class="score">85</div>
            <a class="link statementLink" href="#">Testo</a>
            <a class="link submissionLink" href="#">Sottoposizioni</a>
            <div class="alert-icon"></div>
        </div>
        <div class="problemBox orangeScore openProblem" id="problem3">
            <div class="problemTitle" style="inline">Taxi</div>
            <div class="score" style="inline">60</div>
            <a class="link statementLink" href="#">Testo</a>
            <a class="link submissionLink" href="#">Sottoposizioni</a>
            <div class="alert-icon"></div>
        </div>
        <div class="problemBox greenScore" id="problem4">
            <div class="problemTitle">Gravity</div>
            <div class="score">100</div>
            <a class="link statementLink" href="#">Testo</a>
            <a class="link submissionLink" href="#">Sottoposizioni</a>
            <div class="alert-icon"></div>
        </div>
        <div class="problemBox redScore alert" id="problem5">
            <div class="problemTitle" style="inline">Canoa</div>
            <div class="score" style="inline">10</div>
            <a class="link statementLink" href="#">Testo</a>
            <a class="link submissionLink" href="#">Sottoposizioni</a>
            <div class="alert-icon"></div>
        </div>
        <div class="problemBox redScore" id="problem6">
            <div class="problemTitle">Fuga</div>
            <div class="score">5</div>
            <a class="link statementLink" href="#">Testo</a>
            <a class="link submissionLink" href="#">Sottoposizioni</a>
            <div class="alert-icon"></div>
        </div>
        <div class="problemBox greenScore" id="problem7">
            <div class="problemTitle">Anno Luce</div>
            <div class="score">100</div>
            <a class="link statementLink" href="#">Testo</a>
            <a class="link submissionLink" href="#">Sottoposizioni</a>
            <div class="alert-icon"></div>
        </div>
    </div>

    <div class="content"> <h2 class="problemTitle">Taxi</h2>
        <div class="lipsum"></div>
    </div>
    <script type="text/javascript">
        // this script automatically executes when the page finishes loading
    </script>
    <script src="/utility/lipsum.js" type="text/javascript"></script><!--This is because I was tired of looking at a really long HTML and because it's now really easy to put some filler text (just include the script and an element with class="lipsum" and you're done)-->
</body>
</html>