<!DOCTYPE HTML>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--Added the viewport meta tag to view the site properly on mobile-->
    <title id="contest-title">CaDo Contest</title>
    <script src="/scripts/notyf.js"></script>
    <link rel="stylesheet" href="/stylesheets/notyf.css">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <link rel="stylesheet" href="/stylesheets/contest.css">
</head>

<body class="container">
    <div class="header">
        <h1 id="contest-heading">CaDo CMS</h1>
        <img class="userImg" alt=":)" src="/api/profilePic">
        <div class="userName">pastacolsugo</div>
    </div>

    <div class="sidebar" id="sidebar">
        <div class="timer">
            <p id="timer"></p>
        </div>
    </div>

    <div class="content"> <h2 class="problemTitle">Benvenuto!</h2>
        <div class="not-a-lipsum">
            <p>La gara non è ancora iniziata. Quando lo sarà, si caricherà sulla sinistra la lista dei problemi.
            </p>
        </div>
    </div>
    <script type="text/javascript" src="/scripts/contest.js"></script>
    <script src="/scripts/lipsum.js" type="text/javascript"></script>
</body>
</html>