@font-face {
    font-family: DejaVuMono;
    src: url(/utility/font/dejavumono);
}

.container {
    display: grid;
    grid-template-rows: 15% auto;
    grid-template-columns: 5% 3% auto 3% 5%;
    /*                    1  2  3    4  5  6   */

    font-family: "DejaVuMono";
    background-color: sec-b-0;
    margin-left: 0;
    margin-right: 0;
}

.header {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    /*background-color: #f37000*/
    background-color: sec-a-0;
}

.header h1 {
    margin-left: 1em;
    margin-right: 1em; 
    text-align: center;
}

.form {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: pri-0;
    padding-left: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 30px;
}

.form .inputField {
    font-family: "DejaVuMono";
    font-size: 1.5em;
    padding: .5em; 
    border-right: 5em;
    margin-top: .5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    width: calc(100% - 2em);
    text-transform: capitalize;
}
