/* This is the master css. Only things in common with every page has to be here.*/

@import url("/utility/theme.css");

@font-face {
    font-family: DejaVuMono;
    src: url(/utility/font/DejaVuSansMono.ttf);
    font-weight:normal;
    font-style:normal;
}   

@font-face {
    font-family: DejaVuMono;
    src: url(/utility/font/DejaVuSansMono-Bold.ttf);
    font-weight:bold;
    font-style:normal;
}

@font-face {
    font-family: DejaVuMono;
    src: url(/utility/font/DejaVuSansMono-BoldOblique.ttf);
    font-weight:bold;
    font-style:italic;
}

@font-face {
    font-family: DejaVuMono;
    src: url(/utility/font/DejaVuSansMono-Oblique.ttf);
    font-weight:normal;
    font-style:italic;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/utility/font/material.eot),
    url(/utility/font/material.woff2) format('woff2'),
    url(/utility/font/material.woff) format('woff'),
    url(/utility/font/material.ttf) format('truetype');
}


h1, h2, h3, h4, h5, h6 {
    padding: 0.5em;
}

body{
    font-family: "DejaVuMono", monospace;
}

.button{
    display: block;
    padding: .5em;
    background-color: var(--button-active-bg);
    color: var(--button-text);
    cursor: pointer;
    border-radius: .2em;
    margin: .1em;
}

.button.inline{
    display: inline-block !important;
}

.button.disabled{
    background-color: var(--button-inactive-bg) !important;
}

a.button, a.button:visited {
    color: var(--button-text) !important;
    text-decoration: none !important;
}

.nopadding{
    padding:0 !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}