/* This is the master css. Only things in common with every page has to be here.*/

@import url("/utility/theme.css");

@font-face {
    font-family: DejaVuMono;
    src: url(/utility/font/dejavumono);
    font-weight:normal;
    font-style:normal;
}   

@font-face {
    font-family: DejaVuMono;
    src: url(/utility/font/dejavumono-bold);
    font-weight:bold;
    font-style:normal;
}

@font-face {
    font-family: DejaVuMono;
    src: url(/utility/font/dejavumono-boldOblique);
    font-weight:bold;
    font-style:italic;
}

@font-face {
    font-family: DejaVuMono;
    src: url(/utility/font/dejavumono-Oblique);
    font-weight:normal;
    font-style:italic;
}


h1, h2, h3, h4, h5, h6 {
    padding:0.5em;
}

body{
    font-family: "DejaVuMono", monospace;
}
