:root{
    /*General*/
    /* colours */
    --button-inactive-bg:#c0c0c0;
    --button-active-bg: #0C7367;
    --button-active-hover-bg: #0F4266;
    --button-text: #fff;
    
    /* LOGIN */
    /* colors */
    --login-bg: #0D6C7D;
    --login-form-bg: #fff;
    --login-field-border: #c0c0c0;

    /*other colours has to be inserted here*/

    /* CONTEST_PAGE */
    /* colors */
    --contest-bg: #fff;
    --contest-header-bg: #0D6C7D;
    --contest-header: #fff;
    --contest-timer: #fff;
    --contest-sidebar-color: #4c4c4c;
    --contest-problem-list-title: #fff;
    --contest-problem-list-score: #fff;
    --contest-problem-lowScore: #bd3030;
    --contest-problem-mediumScore: #E69E32;
    --contest-problem-fullScore: #5ecc00;
    --contest-problem-submission-evaluating-text:#000;
    --contest-problem-submission-evaluating-bg:#58b8ff;
}